PORT=8080
SCREENSHOT_SECRET=your_secret_here # your secret token for Bearer auth
CLOUDINARY_CLOUD_NAME=your_cloud_name # from Cloudinary
CLOUDINARY_API_KEY=your_api_key # from Cloudinary
CLOUDINARY_API_SECRET=your_api_secret # from Cloudinary
BROWSERLESS_TOKEN=your_browserless_token # from Browserless (https://www.browserless.io/) 
